/* Carousel clase*/

/*esto es de boostrap, no se si modificarlo*/
.carousel {

    margin-bottom: 4rem; }

    

    .carousel-caption { 
    bottom: 3rem;
    z-index: 10;
}
 
    .carousel-item { 
    height: 18rem;
}
  
/*mi css*/

.indexCarrusel {
    
    border-radius: 0.6rem;
    padding-top: 0.6rem;


    .containerr {


        
        a { 

            
            color: $color-fondo-secundario;
            background-color: $color-botones;
            

        
        }
    }






}