/* FOOTER */

.footerMio{
    background-color: $color-fondo-secundario;
    width: 100%;
    border-radius: 1rem;
    padding: 0.4rem;
    //max-width es para que no se estire mas alla de su contenedor!! 
    max-width: 100%;
    height: auto;


    
}

