@media (min-width:576px) {
    .botonCelu{
        display: none;
        
    }
    
   
}

@media (max-width:576px) {
.divFeatured { 
         
    p { display: none;}

    h3 {
        display: inline-block;
        text-align: center;
    }
}
 }

 /*no lo puedo arrelgar lpm*/

@media (min-width:971px){
.compraXl { 
    display: grid;

    grid-template-columns: 4;
    grid-template-rows: 4;
}
}