@media (min-width:576px) {
    .botonCelu{
        display: none;
        
    }
    
   
}

@media (max-width:576px) {
.divFeatured { 
         
    p { display: none;}

    h3 {
        display: inline-block;
        text-align: center;
    }
}
 }