
/* BARRA DE NAVEGACION */

.barraArriba { 
    border-bottom: solid #3A6EA5 0.3rem ;
    background-color: #EBEBEB;
    font-size: 2rem;
    
    .botonCelu {
       font-size: 2rem;
       background-color: $color-botones;

    
    }



    
}