/*compraPC*/

.compraXl {

    

    
    div{

    

    border-radius: 1rem;
    padding: 1rem;
    
    
    height: auto;
    transition: all 0.3s ease;
    

    div { 
        
        
        div { 

            
            &:hover { 
                transform: scale(1.03);
                
            } 

            a {
                background-color: $color-decoracion;
                border: $color-fuentes solid 1px;
                
            }
        }
    }



    

}

}
